<% provide(:title, 'Welcome') %>
<h1>WELCOME</h1>
<h2>Recent Posts</h2>

  <ul class="posts">
    <% @posts.each do |post| %>
      <%= render post %>
  	<% end %>
  </ul>
  <div class="center jumbotron">
  
  <%= link_to "LOG IN", login_path, class: "btn btn-primary btn-lg"%>
  <%= link_to "SIGN UP", signup_path, class: "btn btn-primary btn-lg"%>  
 
  </div>